.container{
    background-color: coral;
    width: 500px;
    transition-property: all;
    transition-delay: 0.5ms;
    transition-duration: 3s;
    transition-timing-function:linear;
}
.container:hover{
    width: 1000px;
    background-color: brown;
    
  
}
.container:hover p{
    color: red;
    transition-property: all;
    transition-delay: 0.5ms;
    transition-duration: 3s;
    transition-timing-function:linear
}
.box{
    position: relative;
    width: 100%;
}
.redcar{
    height: 272px;
    width: 860px;
    position: absolute;
    animation-name: anim ;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-timing-function: linears;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim{
    0%{
        left: 0px;
        

    }
    50%{
        left: 200px;

    }
    100%{
        left: 700px;
    }
}

.box2{
    position: relative;
    padding-top: 400px;
    width: 100%;
}

.pinkcar{
    height: 372px;
    width: 860px;
    position: absolute;
    padding-bottom: 100px;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-timing-function: linears;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: anim2;
}

@keyframes  anim2{
    0%{
        right: 0px;
    }
    50%{
        right: 200px;
    }
    100%{
        right: 700px;
    }

}